.road{
    /* width: 600px; */
    height: 800px; 
    /* border: 1px solid red; */
    margin: 200px auto 0;
    position: relative;
}
.road img{
    width: 100%;
}
.bike {
    height: 800px;
    width: 600px;
    /* background: green; */
    position: absolute;
    left: -50px;
    top: 2517px;
    transform: rotateY(360deg);
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate;
    /* animation: move 3s linear 1s 3 alternate; */
}

@keyframes move {

    0%{
        left: 286px;
    }
    50%{
        left: 500px;
    }

     /* 0%{
        left: 0;
    }
 
    25%{
        left: 84%;
        top: 0;
        background: red;
       
    }

     
    50%{
        left: 84%;
        top: 84%;
        background: blue;
        top: 10px;
       
    }

    75%{
        left: 0;
        top: 84%;
        transform: rotate(5deg);
       
    }

    100%{
        left: 0;
        top: 0;
        border-radius: 50px;
        background-color: yellow;
       
    }  
 */



    /* from{
        margin: left 0; 
        }
    to {
        margin-left: 50px;
    } */

    /* 0%{
        margin-left: 0;
    }
    20%{
        margin-left: 50px;
    }
    40%{
        margin-top: 20px;

    }
    60%{
        background: blue;
    }
    80%{
        border-radius: 50%;
    }
    100%{
        margin-top: 50px;
    } */

}





