      
    
*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    gap: 10px;
    width: 1170px;
    background: #fff;
}
h1{
    background: #df2;
}

#center{
    text-align: center;
   
}

div{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin bottom: 10px;
    float: left;
    
   
    background: red;
}
.one{
    width: 400px;
}

.two{
    width: 500px;
}

.three{
    width: 200px;
}
.two img{
    width: 100%;
    height: 100%;
}


    

    /* 
    .cls{
    clear: both;
}
    display: inline-block;

    margin:  0 auto ;
    * =>  all selector
    h1 => tag selector
    class => class selector
    id => id selector

    
    *{
        color: rgb(17, 255, 0) !important;
    }

    h1{
        color : rgb(255, 0, 255) ;
        font-size: 40px;
        text-transform: uppercase ;
        background : green ;
        padding: 20px;
        margin: 20px;
         margin-top: 15px;
        margin-left: 25px;

        padding: 20px;
        margin: 20px 50px 100px 0px;


    }

    .Ruman{
        text-align: right;
        background: olive;
    }




    *{
        padding: 0;
        margin: 0;

      }
       
      
      
    
    
    h1{
        color : rgb(255, 0, 255) ;
        font-size: 40px;
        text-transform: uppercase ;
        background : green ;
        
        
       
    }
    p{
        color: rgb(10, 7, 7);
        font-size: 24px;
        border: red 2px dashed;
    }

    h3{
        background-color: yellow;
        display: inline-block;
        padding: 10px 20px;
    }

    .heading{
         border-radius: 50px;
         text-align: center;
    }

    #Mahedi{
        text-align: center;
        background: blue;
        background-color: bisque;
    }
    #Ruman{
        background: blue !important;
        font-style: normal;
    }
    .Ruman{
        background: red;
    }

     b{
        text-align: center;
        background: pink !important;
        display: block;
        padding: 10px;
        font-size: 30px;
        font-style: italic;
        margin: 5px 0;
    }
    

    




    */